.header-profile{
    position: absolute;
    width: 100%;
    height: 300px;
    top:-100px;
    background: #89A6FB;
    border-radius:10% 50% 50% ;
    z-index:-1;

}

#routesSave{
    margin-top:100px;
    text-align: center;
}

.userImage{
    display:flex;
    z-index: 0;
    justify-content: center;
    margin:0 auto;
    margin-top: 250px;
    width: 70px;
    height: 70px;
    border-radius:50%;
}

#profileRoutes{
    margin-top: 250px;
}

#myRoutes{
    width: 300px;
    height: 60px;
    border: 0.5px #b6b2b2 solid;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #fff;
    text-align: center;
    font-family: open sans-serif;
    font-size: 18px;
    color: #212121;
}

#lastRouteImg{
    text-align: center;
    font-size: 25px;
}

#saveImg{
    margin-right: 10px;
}

#lastRoute{
    border: #969494 0.5px solid;
    width: 80%;
    height: 150px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    margin-top:30px;
}

#textLastRoute{
    margin-top: 30px;
    text-align: center;
}

.fas.fa-route{
    color: #00BCD4;
    font-size: 30px;
    justify-content: center;
    margin: 0 auto;
    display: flex;
}

.fas.fa-map-marked-alt{
    color: #00BCD4;
}
