.img{
    width: 100%;
    height: 289px;
    margin-top: 73px;
}
.tittle{
    font-size: 24px;
    text-align: center;
    margin: 23px;
    color: #00BCD4;
}

.imgShare {
     width: 100%;
    margin-left: -15px;
}

