.save{
    margin-top: 30px;
}

#saveRoute{
    width: 80%;
    height: 200px;
    border: rgb(150, 148, 148) 0.5px solid;
    margin-top: 30px;
    justify-content: center;
    margin: 0 auto;
    
}

.imgMap{
    width: 100%;
    height: 150px;
}

.far.fa-share-square{
    color:#00BCD4;
    font-size: 25px;
    margin-left: 120px;
   
}

