.modal1{
    position: absolute;
    left:0;
    top:0;
    background-color:transparent;
    height: 100vh;
    width: 100%;
}

.modal2{
     
    width: 320px;
    height: 149px;
  
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
    z-index: 1000;
}
.container1{
    margin-top: 212px;
}
.btnGuardar{
    width: 77px;
    height: 34px;
    /* top: 32px; */
    margin-top: 52px;
}