.footer{
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
    color:gray;
    
}

.far.fa-newspaper,.fas.fa-map-marked-alt,.far.fa-user{
    margin: 5px;
    font-size: 30px;
    margin-top: -2px;
    
}
.row{
display: flex;
justify-content:space-between;
width: 100%;
margin: 0 auto;
}

.icon{
    height: auto;
    width: 100%;
    z-index: 3;
    cursor: pointer;
    display: block;
    text-align: center;
}
