.footer{
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
    color:gray;
    border-top: grey 1px solid;
    z-index:100
    
}

.far.fa-newspaper,.fas.fa-map-marked-alt,.far.fa-user{
    margin: 5px;
    font-size: 30px;
    margin-top: 11px;
    
}
.row{
display: flex;
justify-content:space-between;
width: 100%;
margin: 0 auto;
}
.fas.fa-search{
margin-top: -10px
}
