#recomendation, #recomendation2{
    width: 90%;
    height: 230px;
    border: rgb(150, 148, 148) 0.5px solid;
    margin-top: 30px;
    justify-content: center;
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#recomendation2{
    margin-top: 20px;
}

.imgBike{
    width: 100%;
    height: 180px;
    justify-content: center;
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#title{
    margin-top: 30px;
    font-family: 'roboto' sans-serif;
    color: #212121;
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
}

.textLabel{
    font-family: 'roboto' sans-serif;
    font-size: 20px;
}

.textLabel, .iconImg{
    display: inline-block;
    margin:7px;
}

#iconTuristic{
    margin-left: 100px;
}

#iconBrokenRoute{
    margin-left: 55px;
}

