
.float{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 92px;
    /* margin-left: -22px; */
  
    right: 10px;
    background-color: #fff;
    color: red;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    animation: bot-to-top 2s ease-out;
}

.far.fa-stop-circle {
    font-size: 28px;
    margin-top: 13px;
}

a#menu-share + ul{
  visibility: hidden;
}

 a#menu-share:hover + ul{
  visibility: visible;
  animation: scale-in 0.5s;
} 

a#menu-share i{
	animation: rotate-in 0.5s;
}

a#menu-share:hover > i{
	animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}

@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}

@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

/* .far.fa-share-square{
    margin-bottom: 20px
} */